<div class="normal-content" fxLayout="column" fxFill>
  <h2>Ernteformular</h2>
<form class="form-vertical"
      [formGroup]="myForm"
      (ngSubmit)="submitForm()">

  <fieldset>
<!-- Form Name -->
<legend>Ernte</legend>
  <div fxLayout="row" fxFill>
      <mat-form-field fxFlex>
    <label class="col-mat-4 control-label" >Name</label>
    <input matInput formControlName="name" class="form-control input-md"> 
    <div *ngIf="errors.name" class="ui negative message">
      {{ errors.name }}
    </div>
      </mat-form-field>
  </div>
  <div fxLayout="row" fxFill>
      <mat-form-field fxFlex>
    <label class="col-mat-4 control-label" for="textarea">Beschreibung</label>
   <textarea matInput formControlName="comment" rows="3" class="form-control"></textarea>
   </mat-form-field>
  </div>
   <div fxLayout="row" fxFill>
      <mat-form-field fxFlex>
    <label class="col-mat-4 control-label">Ort</label>
    <input matInput formControlName="location" class="form-control input-md">
    <div *ngIf="errors.location" class="ui negative message">
      {{ errors.location }}
    </div>
      </mat-form-field>
  </div>

   <div fxLayout="row" fxFill>
      <mat-form-field fxFlex>
    <label class="col-mat-4 control-label">Aktion</label>
    <input matInput formControlName="action" class="form-control input-md">
    <div *ngIf="errors.action" class="ui negative message">
      {{ errors.action }}
    </div>
      </mat-form-field>
  </div>  

<mat-form-field>
  <input formControlName="date" matInput [matDatepicker]="picker" placeholder="Datum wählen">
  <!-- <input formControlName="date" matInput placeholder="Datum wählen"> -->
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <!-- <button mdSuffix [mat-datepicker-toggle]="picker"></button> -->
  
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<!--<mat-datepicker #picker></mat-datepicker>-->

  <div fxLayout="row" fxFill>
      <div fxFlex>
        <label class="col-mat-4 control-label">öffentlich</label>
         <!--<mat-checkbox  formControlName="isPublic" class="example-margin" [(ngModel)]="disabled" class="form-control input-md"></mat-checkbox>-->
        <input  formControlName="isPublic" type="checkbox" class="form-control input-md">
        <div *ngIf="errors.action" class="ui negative message">
          {{ errors.action }}
        </div>
      </div>
  </div>

  <!--<button type="submit" class="ui button" [disabled]="myForm.invalid">Speichern</button>-->
  <div fxLayout="row" fxFill>
     <button mat-raised-button type="submit"  >Speichern</button>
  </div>
  </fieldset>
</form>
</div>

