 <!--<mat-toolbar color="primary">
    <span><mat-icon>mood</mat-icon></span>

    <span>Harvesting</span>

    <button mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>
<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">Harvesting</a>
    </div>
    <div class="nav navbar-nav navbar-right border-left">
      <a class="navbar-brand" routerLinkActive="active" routerLink="harvests">Ernten</a>
    </div>
    <div class="nav navbar-nav navbar-right border-left">
      <a class="navbar-brand" routerLinkActive="active" routerLink="admin">Admin</a>
    </div>

    <div >
      <ul class="nav navbar-nav navbar-right border-left">
        <li><a (click)="logout()">Logout</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a>{{ (user | async)?.displayName }} </a></li>
      </ul>
    </div>  
    <div *ngIf="!isLoggedIn">
      <div>
       <div class="nav navbar-nav navbar-right border-left">
      <a class="navbar-brand" routerLinkActive="active" routerLink="login">Login</a>
       </div>
    </div>

  </div>
</nav>

<div class="app-content">
  <router-outlet></router-outlet>
</div>-->

<mat-sidenav-container fxFlex fxFlexFill>
  <mat-sidenav #sidenav>
    <router-outlet name="sidenav"></router-outlet>
  </mat-sidenav>

  <div fxLayout="column" fxLayoutAlign="space-between stretch" fxFlexFill>
    <header>
      <router-outlet name="header"></router-outlet>
    </header>

    <article fxFlex fxFlexFill>
      <router-outlet></router-outlet>
    </article>

    <footer>
      <router-outlet name="footer"></router-outlet>
    </footer>
  </div>
</mat-sidenav-container>

<!--
<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">Harvesting</a>
    </div>
    <div class="nav navbar-nav navbar-right border-left">
      <a class="navbar-brand" routerLinkActive="active" routerLink="harvests">Ernten</a>
    </div>
    <div class="nav navbar-nav navbar-right border-left">
      <a class="navbar-brand" routerLinkActive="active" routerLink="admin">Admin</a>
    </div>

    <div >
      <ul class="nav navbar-nav navbar-right border-left">
        <li><a (click)="logout()">Logout</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a>{{ (user | async)?.displayName }} </a></li>
      </ul>
    </div>  
    <div *ngIf="!isLoggedIn">
      <div>
       <div class="nav navbar-nav navbar-right border-left">
      <a class="navbar-brand" routerLinkActive="active" routerLink="login">Login</a>
       </div>
    </div>

  </div>
</nav>-->